.promo {
    background: #073042;
    min-height: 602px;
    width: 100%;
    background-image: url('../../images/promo/__back.svg');
    background-size: 320px 320px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo__title {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    max-width: 730px;
    margin: 0;
}
@media screen and (max-width: 1279px) {
    .promo {
        min-height: 862px;
    }
}
@media screen and (max-width: 767px) {
    .promo {
        min-height: 648px;
        background-size: 248px 248px;
    }
    .promo__title {
        font-size: 31px;
        line-height: 39px;
        max-width: 300px;
    }
}