.section-title {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin: 0 auto 0 0;
}
@media screen and (max-width: 767px) {
    .section-title {
        font-size: 18px;
        line-height: 21px;
    }
}